<section class="landing-block block-banner">
	<div class="banner-wrap">
		
		<div class="advantages"></div>
	</div>
</section>

<section class="landing-block block-a">

</section>
<section class="landing-block block-b">

</section>
<!-- Block | Start -->
<section class="landing-block heading">
	<span class="h1">What you get from the subscription</span>
</section>
<section class="landing-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-12 mb-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores beatae cumque
				dolore doloribus, et facilis illum iure labore nesciunt numquam pariatur quaerat quidem quod
				recusandae
				sunt veniam voluptas!
			</div>
			<div class="col-md-4 col-12 mb-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores beatae cumque
				dolore doloribus, et facilis illum iure labore nesciunt numquam pariatur quaerat quidem quod
				recusandae
				sunt veniam voluptas!
			</div>
			<div class="col-md-4 col-12 mb-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores beatae cumque
				dolore doloribus, et facilis illum iure labore nesciunt numquam pariatur quaerat quidem quod
				recusandae
				sunt veniam voluptas!
			</div>
		</div>
	</div>
</section>

<!-- Block | End   -->

<div class="sep-1"></div>

<!-- Block | Start -->
<section class="landing-block heading">
	<span class="h1">How it works</span>
</section>
<section class="landing-block p-0">
	<!-- Step 1 -->
	<div class="description-step step-odd">
		<div class="part-left">
			<div class="part-inner">
				<span class="heading">Account registration</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae dicta est
					facere impedit inventore, laborum magnam modi neque numquam, odit officia
					praesentium quidem ratione sed suscipit velit veniam voluptates?</p>
			</div>
		</div>
		<div class="part-right">
			<div class="part-inner">
			
			</div>
		</div>
	</div>
	
	<!-- Step 2 -->
	<div class="description-step step-even">
		<div class="part-left">
			<div class="part-inner">
			
			</div>
		</div>
		<div class="part-right">
			<div class="part-inner">
				<span class="heading">Get your subscription</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae dicta est
					facere impedit inventore, laborum magnam modi neque numquam, odit officia
					praesentium quidem ratione sed suscipit velit veniam voluptates?</p>
			</div>
		</div>
	</div>
	
	<!-- Step 3 -->
	<div class="description-step step-odd">
		<div class="part-left">
			<div class="part-inner">
				<span class="heading">Attend online lessons everywhere</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae dicta est
					facere impedit inventore, laborum magnam modi neque numquam, odit officia
					praesentium quidem ratione sed suscipit velit veniam voluptates?</p>
			</div>
		</div>
		<div class="part-right">
			<div class="part-inner">
			
			</div>
		</div>
	</div>
	
	<!-- Step 4 -->
	<div class="description-step step-even">
		<div class="part-left">
			<div class="part-inner">
			
			</div>
		</div>
		<div class="part-right">
			<div class="part-inner">
				<span class="heading">Cancel your subscription if you'd like to</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae dicta est
					facere impedit inventore, laborum magnam modi neque numquam, odit officia
					praesentium quidem ratione sed suscipit velit veniam voluptates?</p>
			</div>
		</div>
	</div>
</section>

<!-- Block | End   -->

